
    <div class="flex flex-col content-around h-full justify-center space-y-9 items-center container">
        <div class="font-extrabold text-6xl sm:text-7xl md:text-8xl text-center p-5 uppercase">Bhayanak Streaming</div>
        <div class="space-y-4 p-4">
            <div class="bg-gray-700 py-5 px-12 md:px-24 rounded-md text-center shadow-md hover:bg-gray-600 cursor-pointer" (click)="login()">
               <p class="font-bold text-2xl">Login</p>
            </div>
        </div>
    </div>