<div class="h-screen flex flex-col justify-between" *ngIf="roomData">
    <app-header></app-header>
    <div class="flex-grow container py-2">
       <div *ngIf="joinedusers" class="grid grid-cols-5 gap-5">
            <div *ngFor="let user of joinedusers">
                <app-viewer [uid]="user.uid"></app-viewer>
            </div>
        </div>
    </div>
    <div class="bg-gray-900 p-9 px-8 flex justify-between items-center">
        <div class="text-2xl font-bold">{{roomData.name}}</div>
        <div class="bg-gray-700 rounded text-center font-semibold text-lg shadow-md hover:bg-gray-600 cursor-pointer px-5 py-3 flex items-center" (click)="leaveRoom()">
            Leave
        </div>
    </div>
</div>