<div class="h-screen flex flex-col justify-between" *ngIf="roomData">
    <app-header></app-header>
    <div class="relative flex-grow overflow-y-auto">
        <div *ngIf="joinedusers" class="grid grid-cols-1 sm:grid-cols-2 gap-3 p-3">
            <div *ngFor="let user of joinedusers; trackBy: trackBy">
                <app-viewer *ngIf="currentUser && currentUser.uid === user.uid"  [uid]="user.uid" [isMuted]="true" [captureStream]="captureStream"></app-viewer>
                <app-viewer *ngIf="currentUser && currentUser.uid !== user.uid" [isStreaming]="user.streaming" [uid]="user.uid" [currentUID]="currentUser.uid" [roomID]="roomData.roomid"></app-viewer>
             </div>
        </div>
    </div>
    <div class="bg-gray-900 p-9 px-8 flex justify-between items-center">
        <div class="text-2xl font-bold">{{roomData.name}}</div>

        <div class="flex space-x-3">
            <div class="bg-blue-900 rounded text-center font-semibold text-lg shadow-md hover:bg-gray-600 cursor-pointer px-9 py-3 flex items-center" (click)="buttonClick()">
                <ng-container *ngIf="!captureStream">Stream</ng-container>
                <ng-container *ngIf="captureStream">Stop</ng-container>
            </div>
            <div class="bg-gray-700 rounded text-center font-semibold text-lg shadow-md hover:bg-gray-600 cursor-pointer px-5 py-3 flex items-center" (click)="leaveRoom()">
                Leave
            </div>
        </div>
    </div>
</div>
